<html>
    <head>




        <title>Arm</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

<style>
h1 {
    text-align: center;
}
body {
	background-color: 6699FF
}


</style>


        <div id="container">
            <div class="title">
                <h1>Water Rocket Launch System</h1>
            <input type="button" value="Begin Fuel"
        onclick="location.href='http://10.68.54.27/begin_fuel'"/>
              
            </div>
        </div>
    </body>
</html>

