<html>
    <head>
        <title>Begin</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

<style>
h1 {
    text-align: center;
}
body {
	background-color: 6699FF
}

</style>

    <body>
        <div id="container">
             <div class="title">
		<h1>Water Rocket Launch System</h1>
		<h1>    </h1>
                <h1>Begin Rocket Launch Sequence</h1>
            </div>
            
            <div class="title">
                
                
	<input type="button" value="Launch"
       onclick="location.href='http://10.68.54.27/count'" />

	<input type="button" value="Unarm"
       onclick="location.href='http://10.68.54.27/begin'" />
      
            </div>
        </div>
    </body>
</html>

